.features {
  display: flex;
}

.features__item {
  margin-right: rem(10px);

  &last-child {
    margin-right: 0;
  }
}

.social__icons-svg {
  

  cursor: pointer;
  fill: #b3b3b3;

  &:hover {
    fill: rgba(0, 0, 0, 1);
  }
}
