.feature {
  display: flex;
}

.feature__icon {
  width: rem(40px);
 margin-right: rem(20px);
}

.feature__text {
  max-width: rem(115px);
  margin-right: rem(20px);
}

.social__icons-svg {
height: rem(30px);
width: rem(30px);
cursor: pointer;
fill:  #B3B3B3;

}
