.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: rem(86px);

  @include phone {
    flex-direction: column;
  }
}

.socials {
  display: flex;
  justify-content: space-between;
}

.socials__item {
  margin-right: rem(10px);
}

.socials__item:last-child {
  margin-right: 0;
}

.contacts {
  font-style: normal;
  text-decoration: none;

  @include phone {
    margin-bottom: rem(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contacts__phone {
  text-decoration: none;
}


.phone-number {
  @include tablets {
    color: rgba(224, 31, 61, 1);
  }
}

.social__icons-svg {
  cursor: pointer;
  fill: #b3b3b3;
  height: 32px;
  width: 32px;
  

  &:hover {
    fill: rgba(0, 0, 0, 1);
  }
}
