.form {
  display: flex;

  @include tablets {
    flex-direction: column;
    padding: 0 19%;
  }
}

.form__col {
  flex: 1;
  margin-right: rem(17px);

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: rem(17px);
}

.form__block {
  flex: 1;
  margin-right: rem(26px);

  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  width: 100%;
  border: none;
  padding: rem(18px) rem(20px);
  border: rem(3px) solid transparenbla;
  border-radius: rem(4px);

  @include tablets {
    height: rem(36px);
  }


  &--textarea {
    height: rem(180px);
    resize: none;

    @include tablets {
      height: rem(82px);
      resize: none;
    }
  }

  &:focus {
    border-color: rgba(224, 31, 61, 1);
    outline: none;
  }
}

.form__controls {
  display: flex;
  font-weight: wrap;
}

.secction__title-form {
  color: $white;
}

.form__btns {
  @include tablets {
    display: flex;
    justify-content: center;
    margin-top: 8%;
  }
}
