$gray: rgb(235, 231, 231) ;
$white: #FFFFFF;
$red:#E01F3D;   
$containerWidth:1100px;
$baseFontSize:16px;
$black:#292929;


@import "hero.scss";
@import "header.scss";
@import "layout.scss";
@import "features.scss";
@import "featuresIcons.scss";
@import "btn.scss";
@import "section.scss";
@import "headline.scss";
@import "benefits.scss";
@import "benefit.scss";