$gray: rgb(235, 231, 231) ;
$white: #FFFFFF;
$red:rgba(224, 31, 61, 1);
$containerWidth:1100px;
$baseFontSize:3px;
$black:#292929;

//break point 
$tablets: 768px;
$phone: 480px;

@import "media.scss";

//z-indexes 
$z-fixed-menu:100;

@import "hero.scss";
@import "header.scss";
@import "layout.scss";
@import "features.scss";
@import "featuresIcons.scss";
@import "btn.scss";
@import "section.scss";
@import "headline.scss";
@import "benefits.scss";
@import "benefit.scss";
@import "benefits-section.scss";
@import "reviews.scss";
@import "interactive-avatar.scss";
@import "section__reviews.scss";
@import "order-section.scss";
@import "form.scss";
@import "radio.scss";
@import "fixed-menu.scss";
@import "map.scss";
@import "humburger.scss";
@import "footer.scss";
