.section__reviews{
    position: relative;

    &:before {
        content: url(../../img/Ellipse\ 7.png);
        position: absolute;
        bottom: rem(-23px);
        left: rem(211px);
    }

    
}