.hero {
  background-color: rgb(235, 231, 231);
  min-height: 650px;
  height: 100vh;
  color: #292929;
  padding: 24px 0 70px;
  position: relative;
}
.hero:before {
  position: absolute;
  bottom: -30px;
  left: 74%;
  content: url("/img/Rectangle 14.png");
}

.header {
  margin-bottom: 98px;
}

.hero__title-section {
  width: 39%;
}

.hero__container {
  background: url("../../img/Ellipse 5.png") right 20% center/45% no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 24px 0 70px;
}

.hero__main-title {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.hero__title-desc {
  font-family: "Alegreya Sans";
  font-size: 21px;
  margin-bottom: 54px;
  padding-right: 22%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-family: "Alegreya Sans";
}

.menu__item {
  margin-right: 27px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
}

.phone-number {
  text-decoration: none;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon-elem {
  width: 13px;
  height: 13px;
  margin-right: 6px;
}

* {
  margin: 0 0;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: "Play", "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 1120px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 20px;
}
.features__itemlast-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 40px;
  margin-right: 20px;
}

.feature__text {
  max-width: 115px;
  margin-right: 20px;
}

.btn {
  font-weight: bold;
  padding: 18px 40px;
  border-radius: 100px;
  text-transform: uppercase;
  line-height: 1;
  text-decoration: none;
  width: 163px;
  border: none;
  font-family: "play";
}
.btn--theme--red {
  background: rgb(224, 31, 61);
  color: #FFFFFF;
  margin-bottom: 70px;
}
.btn--theme--red:hover {
  background: #ca1b36;
}
.btn--theme--order {
  background: rgb(224, 31, 61);
  color: #FFFFFF;
}
.btn--theme--order:hover {
  color: #FFFFFF;
  background: rgb(202, 27, 54);
}
.btn--theme--transperent {
  color: rgb(224, 31, 61);
  background-color: transparent;
  text-transform: none;
}
.btn--theme--transperent:hover {
  color: #FFFFFF;
  background-color: transparent;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgb(102, 102, 102);
}
.section--font--color--white {
  color: #FFFFFF;
}
.section--font--color--white .section--title {
  color: inherit;
}

.section__title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: rgb(41, 41, 41);
  text-transform: uppercase;
}

.headline__title {
  margin-bottom: 18px;
}

.headline {
  text-align: center;
}

.headline__subtitle {
  padding: 0 24%;
  margin-bottom: 62px;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}
.benefits__item:before {
  content: url(../../img/Combined\ shape\ 2204.png);
  position: absolute;
  top: 30px;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.benefit__desc {
  padding: 10px;
}

.benefit {
  text-align: center;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 128px;
  height: 128px;
  position: relative;
  background: rgb(242, 245, 244);
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 24px;
}

.benefit__icon {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefi__title {
  margin-bottom: 7px;
  color: #292929;
  font-size: 24px;
  font-weight: bold;
}

.benefits-section {
  position: relative;
}
.benefits-section::before {
  content: url(../../img/Vector\ 2.png);
  position: absolute;
  bottom: -32px;
  left: 213px;
}

.reviews__display {
  background: rgb(248, 250, 249);
  padding: 42px 42px 42px;
  margin-bottom: 32px;
  overflow: hidden;
  position: relative;
}
.reviews__display:before {
  content: "";
  display: block;
  width: 83px;
  height: 83px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -65px;
}

.reviews__disolay-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__avatar {
  width: 253px;
  height: 264px;
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 40px;
}

.reviews__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 27px;
  color: #292929;
}

.reviews__text {
  margin-bottom: 38px;
  font-size: 16px;
  padding-right: 266px;
}

.reviews__author {
  font-size: 18px;
  font-weight: bold;
  color: #292929;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__titile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 48px;
  font-weight: bold;
  color: #292929;
  margin-bottom: 32px;
}

.interactive-avatar {
  width: 74px;
  height: 74px;
  border: 4px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: rgb(224, 31, 61);
}

.interactive-avatar__lin k {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section__reviews {
  position: relative;
}
.section__reviews:before {
  content: url(../../img/Ellipse\ 7.png);
  position: absolute;
  bottom: -23px;
  left: 211px;
}

.order-section {
  background-color: rgb(24, 24, 24);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 17px;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 17px;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 26px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 18px 20px;
  border: 3px solid transparent;
}
.form__input--textarea {
  height: 180px;
  resize: none;
}
.form__input:focus {
  border-color: rgb(224, 31, 61);
  outline: none;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: wrap;
}

.secction__title-form {
  color: #FFFFFF;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 20px;
  margin-right: 16px;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible::before {
  background: url("../../img/Vector (1).png ") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 26px;
  height: 26px;
  position: relative;
  border-radius: 50%;
  background: white;
  margin-right: 10px;
}
.radio__visible:before {
  content: "";
  width: 14px;
  height: 14px;
  background: rgb(224, 31, 61);
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed__menu__item {
  margin-bottom: 7px;
}
.fixed__menu__item-active .fixed-menu__link {
  border-color: rgb(224, 31, 61);
}

.fixed-menu__link {
  width: 18px;
  height: 19px;
  border-radius: 50%;
  border: 2px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgb(41, 41, 41);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.img__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=main.css.map */