.hero {
  background-color: rgb(235, 231, 231);
  min-height: 650px;
  height: 100vh;
  color: #292929;
  padding: 24px 0 70px;
  position: relative;
}
.hero:before {
  position: absolute;
  bottom: -30px;
  left: 74%;
  content: url("/img/Rectangle 14.png");
}

.header {
  margin-bottom: 98px;
}

.hero__title-section {
  width: 39%;
}

.hero__container {
  background: url("../../img/Ellipse 5.png") right 20% center/45% no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 24px 0 70px;
}

.hero__main-title {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.hero__title-desc {
  font-family: "Alegreya Sans";
  font-size: 21px;
  margin-bottom: 54px;
  padding-right: 22%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-family: "Alegreya Sans";
}

.menu__item {
  margin-right: 27px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
}

.phone-number {
  text-decoration: none;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon-elem {
  width: 13px;
  height: 13px;
  margin-right: 6px;
}

* {
  margin: 0 0;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: "Play", "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 1120px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 20px;
}
.features__itemlast-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 40px;
  margin-right: 20px;
}

.feature__text {
  max-width: 115px;
  margin-right: 20px;
}

.btn {
  font-weight: bold;
  padding: 18px 40px;
  border-radius: 100px;
  text-transform: uppercase;
  line-height: 1;
  text-decoration: none;
  width: 163px;
}
.btn--theme--red {
  background: #E01F3D;
  color: #FFFFFF;
  margin-bottom: 70px;
}
.btn--theme--red:hover {
  background: #CA1B36;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgb(102, 102, 102);
}

.section__title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: rgb(41, 41, 41);
  text-transform: uppercase;
}

.headline__title {
  margin-bottom: 18px;
}

.headline {
  text-align: center;
}

.headline__subtitle {
  padding: 0 24%;
  margin-bottom: 62px;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 3%;
}
.benefits__item:first-child {
  margin-left: 0;
}
.benefits__item:last-child {
  margin-right: 0;
}

.benefit {
  text-align: center;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 128px;
  height: 128px;
  position: relative;
  background: rgb(242, 245, 244);
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 24px;
}

.benefit__icon {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefi__title {
  margin-bottom: 7px;
}
/*# sourceMappingURL=main.css.map */